################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/IntermediateFiles
/pdb
/vcpkg_installed/x64-windows
