################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/IntermediateFiles
/pdb
/vcpkg_installed
/SharedMemoryChannel.ixx
/TestUtil.ixx
